{
  "extends": "stylelint-config-standard",
  "plugins": [
    "stylelint-no-unsupported-browser-features"
  ],
  "rules": {
    "plugin/no-unsupported-browser-features": [ true, { "severity": "warn" } ],
    "at-rule-no-unknown": null,
    "at-rule-empty-line-before": null,
  }
}
