@mixin c-project-images() {
  .project-images {
    @include e-project-image-desktop();
    @include e-project-image-mobile();

    height: line-height(default) * 5;
    margin: (line-height(default) * 2) auto (line-height(default) * 2) auto;
    padding: 0;
    position: relative;
    width: 100%;
    width: calc(100% - #{line-height(default) * 1});

    @media only screen and (min-width: 315px) {
      height: line-height(default) * 6;
    }

    @media only screen and (min-width: 375px) {
      height: line-height(default) * 7;
    }

    @media only screen and (min-width: 415px) {
      height: line-height(default) * 8;
    }

    @media only screen and (min-width: 500px) {
      height: line-height(default) * 9;
    }

    @media only screen and (min-width: 550px) {
      height: line-height(default) * 10;
    }

    @media only screen and (min-width: 600px) {
      height: line-height(default) * 11;
      margin-bottom: line-height(default) * 3;
    }

    @media only screen and (min-width: 700px) {
      height: line-height(default) * 12;
    }
  }
}
