@mixin c-project-links() {
  .project-links {
    @include e-project-link();

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    margin: -#{line-height(default)};
    margin-bottom: line-height(default) * 1;
    padding: line-height(default);
  }

  @media only screen and (min-width: 418px) {
    margin-bottom: line-height(default) * 2;
  }
}
