#about-me,
#my-work,
#let-s-talk {
  height: calc(100% + 50px);
  padding-top: (line-height(default) * 2);
  position: relative;

  &::before {
    content: '';
    height: 25vw;
    left: 0;
    position: absolute;
    top: -#{line-height(default) * 2};
    transform: skewY(-3deg);
    width: 100%;
    z-index: -1;
  }

  h2 {
    @include shadow-700($grey-900);

    background: $blue-700;
    border-radius: $border-radius;
    color: $grey-200;
    left: 50%;
    margin: 0;
    padding: (line-height(default) / 2) line-height(default);
    position: absolute;
    top: -#{line-height(default) * 3.5};
    transform: translateX(-50%);
    white-space: nowrap;
  }

  .circuit-board {
    @import 'circuit-board/white';

    height: line-height(default) * 10;
    margin-top: line-height(default) * 7;
    width: 100vw;
  }
}
