@mixin l-home-section() {
  .home-section {
    height: 100%;
    height: calc(100% + 50px);
    padding-top: line-height(default) * 2;
    position: relative;

    .content {
      margin-bottom: line-height(default) * 7;
      padding-top: line-height(default) * 1;

      @media only screen and (min-width: 700px) {
        margin-bottom: line-height(default) * 9;
        padding-top: line-height(default) * 2;
      }
    }
  }
}
