@mixin l-project-image() {
  position: absolute;
  width: auto;

  .screen {
    background: $grey-700;
    left: 50%;
    overflow: hidden;
    position: absolute;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 2;

    img {
      height: auto;
      width: 100%;
    }
  }

  .frame {
    height: 100%;
    width: auto;
  }
}
