@import '../components/circuit-board';

#about-me {
  background: $grey-200;
  z-index: 2;

  // Diagonal section divider
  &::before {
    background: $grey-200;
  }

  h3 {
    color: $blue-600;
  }

  .portrait {
    @include shadow-100($grey-800);

    border-radius: $border-radius;
    height: 0;
    margin: (line-height(default) * 2) 0;
    overflow: hidden;
    padding: 0 0 100% 0;
    width: 100%;

    @media only screen and (min-width: 475px) {
      float: left;
      margin: 0 (line-height(default) * 1) (line-height(default) * 1) 0;
      padding: 0 0 38.2% 0;
      width: 38.2%;
    }

    @media only screen and (min-width: 600px) {
      margin: 0 (line-height(default) * 2) (line-height(default) * 2) 0;
    }

    img {
      width: 100%;
    }
  }

  #who-i-am {
    @media only screen and (min-width: 475px) {
      margin-top: line-height(default) * 3;

      h3 {
        display: inline;
      }
    }
  }

  ul.columns {
    color: $grey-600;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: (line-height(default) * 2) 0 (line-height(default) * 3) 0;
    padding: 0;

    @media only screen and (min-width: 500px) {
      margin: (line-height(default) * 3) 0 (line-height(default) * 4) 0;
    }

    li {
      padding: 0;
    }

    svg {
      fill: $blue-400;
    }
  }

  #what-i-do ul.columns {
    justify-content: space-around;

    li {
      font-size: round(map-get($base-size, default) * 0.9);
      height: line-height(default) * 10;
      line-height: round(line-height(default) * 0.8);
      margin: 0 (line-height(default) * 0.25);
      text-align: center;
      width: 100px;

      @media only screen and (min-width: 500px) {
        width: 125px;
      }
    }

    svg {
      width: 100%;

      @media only screen and (min-width: 500px) {
        margin-bottom: line-height(default);
      }
    }
  }

  #how-i-do-it ul.columns {
    justify-content: space-around;

    @media only screen and (min-width: 500px) {
    }

    li {
      height: line-height(default) * 2;
      margin: line-height(default) * 0.5;
      width: line-height(default) * 2;

      @media only screen and (min-width: 500px) {
        margin: line-height(default);
      }
    }

    svg {
      height: 100%;
      width: 100%;
    }
  }

  .circuit-board {
    @include circuit-board($grey-400, 0.5);

    margin-top: line-height(default) * 7;
  }
}
