#about-me {
  background: $grey-200;
  z-index: 2;

  *:focus {
    @include outline($blue-300);
  }

  // Diagonal section divider
  &::before {
    background: $grey-200;
  }

  h3 {
    color: $blue-600;
  }

  .portrait {
    @include shadow-100($grey-800);

    border-radius: $border-radius;
    height: 0;
    margin: (line-height(default) * 2) 0;
    overflow: hidden;
    padding: 0 0 100% 0;
    width: 100%;

    @media only screen and (min-width: 475px) {
      float: right;
      margin: 81px 0 (line-height(default) * 1) (line-height(default) * 1); // Top margin has to be same as the adjacent heading
      padding: 0 0 38.2% 0;
      width: 38.2%;
    }

    @media only screen and (min-width: 600px) {
      margin: 81px 0 (line-height(default) * 2) (line-height(default) * 2); // Top margin has to be same as the adjacent heading
    }

    img {
      width: 100%;
    }
  }

  ul.columns {
    color: $grey-600;
    display: flex;
    list-style: none;
    padding: 0;

    li {
      padding: 0;
    }

    svg {
      fill: $blue-400;
    }
  }

  #who-i-am {
    @media only screen and (min-width: 475px) {

      h3 {
        display: inline-block;
        margin-bottom: 0;
      }
    }
  }

  #what-i-do {
    margin: (line-height(default) * 4) 0;

    h3 {
      text-align: center;
    }

    ul.columns {
      flex-direction: column;
      justify-content: space-around;
      left: 50%;
      max-width: 850px;
      position: relative;
      top: 0;
      transform: translateX(-50%);
      width: 100vw;

      // Background
      &::after {
        @include circuit-board-tileable($grey-400, 0.25);

        background-color: darken($grey-200, 7.5%);
        content: '';
        height: 85%;
        height: calc(100% - #{line-height(default) * 5.25});
        left: 50%;
        position: absolute;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
        width: 100%;
        width: 100vw;
        z-index: -1;

        @media only screen and (min-width: 750px) {
          height: 75%;
        }
      }

      @media only screen and (min-width: 750px) {
        flex-direction: row;
      }

      li {
        @include shadow-500($grey-800);

        background: $grey-200;
        border-radius: $border-radius;
        flex: 1;
        margin: line-height(default) * 1;
        overflow: hidden;
        padding: line-height(default);
        padding-top: 0;

        // Deal with non-collapsing margins within flexbox
        &:first-child {
          margin-bottom: line-height(default) * 0.5;

          @media only screen and (min-width: 750px) {
            margin-bottom: line-height(default) * 1;
            margin-right: line-height(default) * 0.5;
          }

          @media only screen and (min-width: 925px) {
            margin-right: line-height(default) * 1;
          }
        }

        // Deal with non-collapsing margins within flexbox
        &:last-child {
          margin-top: line-height(default) * 0.5;

          @media only screen and (min-width: 750px) {
            margin-top: line-height(default) * 1;
            margin-left: line-height(default) * 0.5;
          }

          @media only screen and (min-width: 925px) {
            margin-left: line-height(default) * 1;
          }
        }

        .heading {
          background: $blue-500;
          margin: 0 -#{line-height(default)};
          padding: line-height(default);

          h4 {
            color: $grey-200;
            font-size: 22px;
            line-height: line-height(default) * 1;
            margin: 0;
            text-align: center;
          }
        }
      }

      svg {
        display: flex; // For alignment
        height: line-height(default) * 5;
        margin: (line-height(default) * 2) 0;
        width: 100%;
      }
    }

    // Whole section media queries
    @media only screen and (min-width: 700px) {
      margin: (line-height(default) * 6) 0;
    }
  }

  #how-i-do-it ul.columns {
    flex-wrap: wrap;
    justify-content: space-around;
    margin: (line-height(default) * 2) 0;

    @media only screen and (min-width: 500px) {
    }

    li {
      height: line-height(default) * 2;
      margin: line-height(default) * 0.5;
      width: line-height(default) * 2;

      @media only screen and (min-width: 500px) {
        margin: line-height(default);
      }
    }

    svg {
      height: 100%;
      width: 100%;
    }
  }

  .circuit-board {
    @include circuit-board($grey-400, 0.5);
  }
}
