@import '../components/circuit-board';
#let-s-talk {
  padding-top: line-height(default) * 3;
  z-index: 4;

  // Diagonal section divider
  &::before {
    background: $grey-200;
  }

  .circuit-board {
    @include circuit-board($grey-400, 0.5);
  }
}
