@import '../components/circuit-board';
@import '../components/bullet-icons/web';
@import '../components/bullet-icons/github';

#my-work {
  background: $blue-500;
  color: $grey-200;
  z-index: 3;

  // Diagonal section divider
  &::before {
    background: $blue-500;
  }

  .testimonial {
    padding: 0 (line-height(default) * 0.5);

    @media only screen and (min-width: 500px) {
      padding: 0 (line-height(default) * 1);
    }

    blockquote {
      text-align: center;
      font-style: italic;
    }

    figcaption {
      font-weight: 700;
      text-align: center;
    }
  }

  .links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    margin: -#{line-height(default)};
    padding: line-height(default);

    li {
      padding-left: line-height(default) * 1.25;
      position: relative;
      margin: 0 line-height(default) * 0.5;
      white-space: nowrap;

      &::before {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        content: '';
        height: 90%;
        left: 0;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: line-height(default) * 0.9;
      }

      &.web::before {
        @include web-icon($blue-200);
      }

      &.github::before {
        @include github-icon($blue-200);
      }

      a {
        color: $grey-200;

        &::after {
          background: $blue-400;
          opacity: 0.9;
        }

        &:hover {
          color: $grey-100;
        }
      }
    }
  }

  .description {
    height: 0;
    overflow: hidden;
    transition: height 0.35s ease-in-out;

    p:last-child {
      margin-bottom: line-height(default) * 2;
    }
  }

  .hr {
    margin: (line-height(default) * 1) 0 (line-height(default) * 6) 0;
  }

  .circuit-board {
    @include circuit-board($blue-200, 0.3);
  }
}
