.sent,
[class="404-page-not-found"] {
  background: $blue-500;
  color: $grey-200;
  position: relative;

  h1 {
    color: $grey-100;
  }

  a {
    color: $grey-200;

    @media (hover: hover) {
      &:hover {
        color: $grey-100;
      }
    }
  }

  .content {
    padding-top: line-height(default) * 2;
  }

  // Bottom border
  &::after {
    @include circuit-board($blue-400, 0.6);

    bottom: 0;
    content: '';
    height: line-height(default) * 6;
    position: absolute;
    width: 100vw;
  }
}
