<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <base href="{{ .Permalink }}">
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <meta http-equiv="Content-Security-Policy" content="
      default-src 'self' {{ .Site.BaseURL }};
      script-src 'self' {{ .Site.BaseURL }} *.netlify.com 'unsafe-inline' 'unsafe-eval';
      font-src 'self' {{ .Site.BaseURL }} fonts.gstatic.com;
      style-src 'self' {{ .Site.BaseURL }} *.googleapis.com 'unsafe-inline';
      img-src 'self' {{ .Site.BaseURL }} data:;
    ">
    <meta name="description" content="{{ block "description" . }}{{ .Params.Description }}{{ end }}">
    <link rel="stylesheet" href="/css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Barlow:400,500,600,700,800,900%7CBarlow+Semi+Condensed:700%7CTitillium+Web:400,400i,700&display=swap" rel="stylesheet">
    {{ if or (.Params.robotsdisallow) (eq .Kind "404") }}<meta name="robots" content="noindex, nofollow, noarchive">
      {{ else }}<meta name="robots" content="index, follow, archive">{{ end }}
    <link rel="icon" type="image/png" href="/favicon.png">
    {{ if eq .RelPermalink "/" }}<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>{{ end }}
    <title>{{ .Site.Title }}</title>
    <script src="/js/main.js" async></script>
  </head>
  <body class="{{ urlize .Title }}">
    {{ block "body" . }}
    {{ end }}
    {{ if eq .RelPermalink "/" }}
      <script>
        if (window.netlifyIdentity) {
          window.netlifyIdentity.on("init", user => {
            if (!user) {
              window.netlifyIdentity.on("login", () => {
                document.location.href = "/admin/";
              });
            }
          });
        }
      </script>
{{ end }}
  </body>
</html>
