<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <meta name="description" content="{{ block "description" . }}{{ .Params.Description }}{{ end }}">
    <link rel="icon" type="image/png" href="/favicon.png">
    <link rel="stylesheet" href="/css/main.css">
    <title>{{ .Site.Title }} | {{ block "title" . }}{{ .Title }}{{ end }}</title>
  </head>
  <body class="{{ urlize .Title }}">
    {{ block "body" . }}
    {{ end }}
  </body>
</html>
