<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <link rel="stylesheet" href="/css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Barlow:400,500,600,700,800,900|Barlow+Semi+Condensed:700|Titillium+Web:400,400i,700&display=swap" rel="stylesheet">
    {{ if or (.Params.robotsdisallow) (eq .Kind "404") }}<meta name="robots" content="noindex, nofollow, noarchive">
      {{ else }}<meta name="robots" content="index, follow, archive">{{ end }}
    <meta name="description" content="{{ block "description" . }}{{ .Params.Description }}{{ end }}">
    <link rel="icon" type="image/png" href="/favicon.png">
    {{ if eq .RelPermalink "/" }}<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>{{ end }}
    <title>{{ .Site.Title }}</title>
    <script async src="js/main.js" async></script>
  </head>
  <body class="{{ urlize .Title }}">
    {{ block "body" . }}
    {{ end }}
    {{ if eq .RelPermalink "/" }}
      <script>
        if (window.netlifyIdentity) {
          window.netlifyIdentity.on("init", user => {
            if (!user) {
              window.netlifyIdentity.on("login", () => {
                document.location.href = "/admin/";
              });
            }
          });
        }
      </script>
{{ end }}
  </body>
</html>
