<div class="hr slide">
  <div class="end"></div>
  <div class="line"></div>
  <div class="cutout"></div>
  <div class="button down">
    <svg tabindex="0" role="button" aria-pressed="false" aria-labelledby="toggle-{{ urlize .Params.Title }}-proj-desc">
      <desc id="toggle-{{ urlize .Params.Title }}-proj-desc">View the project description</desc>
      <use xlink:href="/svg/sprite.svg#arrow-down-bold-hexagon" aria-hidden="true"></use>
    </svg>
  </div>
  <div class="line"></div>
  <div class="end"></div>
</div>
