<div class="hr slide">
  <div class="end"></div>
  <div class="line"></div>
  <div class="cutout"></div>
  <div class="button down">
    <svg tabindex="0" role="button" aria-pressed="false" aria-labelledby="toggle-proj-title toggle-proj-desc">
      <title id="toggle-proj-title">View more</title>
      <desc id="toggle-proj-desc">View the project description</desc>
      <use xlink:href="/svg/sprite.svg#arrow-down-bold-hexagon" aria-hidden="true"></use>
    </svg>
  </div>
  <div class="line"></div>
  <div class="end"></div>
</div>
