{{ $letstalk := (.Site.GetPage "/home/let-s-talk").Resources.Match "section*" }}

<section id="let-s-talk">
  <div class="content">
    <h2>Let's Talk</h2>
    {{ (index $letstalk 00).Content }}
    <form action="/sent/" data-netlify="true" name="contact" netlify-honeypot="bot-filter">
      <input hidden type="text" name="subject" value="Message from {{ strings.TrimLeft "https://" .Site.BaseURL | strings.TrimRight "/" }}" class="hidden" aria-hidden="true">
      <input hidden name="bot-field" type="text" class="hidden" aria-hidden="true">
      <div class="top">
        <div class="name container">
          <input name="name" id="name" type="text" placeholder="Your name" required>
          <label for="name">Your name</label>
        </div>
        <div class="email container">
          <input name="email" id="email" type="email" placeholder="Your email address" required>
          <label for="email">Your email address</label>
        </div>
      </div>
      <div class="message container">
        <textarea name="message" id="message" placeholder="Your message" required></textarea>
        <label for="message">Your message</label>
      </div>
      <div class="submit container">
        <input type="submit" value="Send">
      </div>
    </form>
  </div>
  <div class="circuit-board"></div>
</section>
