{{ $mywork := (.Site.GetPage "/home/my-work").Resources.Match "*.md" }}

<section id="my-work">
  <div class="content">
    <h2>My Work</h2>
    {{ range $mywork }}
    <section class="project" id="{{ .Title | urlize }}">
      <div class="overview">
        <h3>{{ .Title }}</h3>
        <figure class="images" aria-label="A preview of the {{ .Params.title }} website">
          <div class="desktop">
            <div class="screen">
              <img
                src="{{ .Params.desktopImage }}"
                alt="The {{ .Params.title }} website at desktop width"
              />
            </div>
            <svg class="frame" width="2836px" height="1634px" viewBox="0 0 2836 1634" aria-hidden="true"><use xlink:href="/svg/sprite.svg#macbook"></use></svg>
          </div>
          <div class="mobile">
            <div class="screen">
              <img
                src="{{ .Params.mobileImage }}"
                alt="The {{ .Params.title }} website at mobile width"
              />
            </div>
            <svg class="frame" width="982" height="1932" viewBox="0 0 982 1932" aria-hidden="true"><use xlink:href="/svg/sprite.svg#iphone"></use></svg>
          </div>
        </figure>
        <ul class="links">
          {{ if .Params.siteLink }}
            <li class="web active"><a href="{{ .Params.siteLink }}" target="_blank">Visit the site</a></li>
          {{ else }}
            <li class="web inactive">Visit the site</li>
          {{ end }}
          {{ if .Params.githubLink }}
            <li class="github active"><a href="{{ .Params.githubLink }}" target="_blank">View on GitHub</a></li>
          {{ else }}
            <li class="github inactive">View on GitHub</li>
          {{ end }}
        </ul>
        {{ if .Params.testimonial }}
        <figure class="testimonial">
          <blockquote>
            <p>{{ .Params.testimonial }}</p>
          </blockquote>
          <figcaption>{{ .Params.testimonialAuthor }}</figcaption>
        </figure>
        {{ end }}
      </div>
      <div class="description hidden">
        {{ .Content }}
      </div>
      {{ partial "hr-slide.html" . }}
    </section>
    {{ end }}
  </div>
  <div class="circuit-board"></div>
</section>
