{{ $mywork := (.Site.GetPage "/home/my-work").Resources.Match "*.md" }}

<section id="my-work">
  <div class="content">
    <h2>My Work</h2>
    {{ range $mywork }}
    <section class="project" id="{{ .Title | urlize }}">
      <div class="overview">
        <h3>{{ .Title }}</h3>
        <figure class="images">
          <div class="desktop">
            <div class="image">
              <img
                src="{{ .Params.desktopImage }}"
                alt="A preview of the {{ .Params.title }} website at desktop width"
              />
            </div>
          </div>
          {{ if .Params.mobileImage }}
            <div class="mobile">
              <div class="image">
                <img
                  src="{{ .Params.mobileImage }}"
                  alt="A preview of the {{ .Params.title }} website at mobile width"
                />
              </div>
            </div>
          {{ end }}
        </figure>
        <ul class="links">
          {{ if .Params.siteLink }}
            <li class="web"><a href="{{ .Params.siteLink }}">Visit the site</a></li>
          {{ end }}
          {{ if .Params.githubLink }}
            <li class="github"><a href="{{ .Params.githubLink }}">View on GitHub</a></li>
          {{ end }}
        </ul>
        {{ if .Params.testimonial }}
        <figure class="testimonial">
          <blockquote>
            <p>{{ .Params.testimonial }}</p>
          </blockquote>
          <figcaption>{{ .Params.testimonialAuthor }}</figcaption>
        </figure>
        {{ end }}
      </div>
      <div class="description hidden">
        {{ .Content }}
      </div>
      {{ partial "hr-slide.html" }}
    </section>
    {{ end }}
  </div>
  <div class="circuit-board"></div>
</section>
