<nav class="navbar">
	<!-- <div class="content"> -->
	<div class="logo">
		<a href="#" aria-label="Link to top">
			<svg width="35" height="35" viewBox="0 0 26.458334 26.458336" role="img" aria-labelledby="logo-icon">
				<title id="logo-icon">Logo</title>
				<use xlink:href="/svg/sprite.svg#logo" aria-hidden="true"></use>
			</svg>
		</a>
	</div>
	<ul>
		<li class="about-me">
			<a href="#about-me">About Me</a>
			<div class="highlight"></div>
		</li>
		<li class="my-work">
			<a href="#my-work">My Work</a>
			<div class="highlight"></div>
		</li>
		<li class="let-s-talk">
			<a href="#let-s-talk">Let's Talk</a>
			<div class="highlight"></div>
		</li>
	</ul>
	<!-- </div> -->
</nav>
