body > footer {
  background: $blue-500;
  color: $grey-200;
  position: relative;

  padding: (line-height(default) * 6) 0;
  text-align: center;
  z-index: 5;

  &::before {
    background: $blue-500;
  }

  nav {
    ul {
      display: flex;
      justify-content: space-around;
      list-style: none;
      margin: line-height(default) auto;
      margin-top: 0;
      max-width: 333px;
      padding: 0;
    }

    li {
      display: inline-block;
      white-space: nowrap;
    }

    a[href] {
      color: $grey-200;
      font-weight: 500;

      @media (hover: hover) {
        &:hover {
          color: white;
        }
      }
    }
  }

  .external-links {
    margin: (line-height(default) * 3) 0;

    div {
      display: inline-block;
    }

    a {
      display: inline-block;
      height: line-height(default) * 1.5;
      margin: 0 (line-height(default) * 0.5);
      width: line-height(default) * 1.5;

      &::after {
        background: none;
      }
    }

    svg {
      fill: $grey-200;
      height: 100%;
      width: 100%;
      vertical-align: top;
    }
  }

  .copyright {
    font-size: 16px;

    .year {
      font-size: inherit;
    }
  }
}
