{{ define "body" }}
{{ $aboutme := (.Site.GetPage "/home/about-me").Resources.Match "section*" }}
{{ $mywork := (.Site.GetPage "/home/my-work").Resources.Match "section*" }}
{{ $letstalk := (.Site.GetPage "/home/let-s-talk").Resources.Match "section*" }}

  <nav class="navbar">
  </nav>

  <header>
  </header>

  <main>

    <section id="about-me">
      <h2>About Me</h2>
      <section id="{{ (index $aboutme 00).Title | urlize }}">
        <h3>{{ (index $aboutme 00).Title }}</h3>
        {{ (index $aboutme 00).Content }}
      </section>
      <section id="{{ (index $aboutme 01).Title | urlize }}">
        <h3>{{ (index $aboutme 01).Title }}</h3>
        {{ (index $aboutme 01).Content }}
      </section>
      <section id="{{ (index $aboutme 02).Title | urlize }}">
        <h3>{{ (index $aboutme 02).Title }}</h3>
        {{ (index $aboutme 02).Content }}
      </section>
    </section>

    <section id="my-work">
      <h2>My Work</h2>
      {{ range $mywork }}
        <section id="{{ .Title | urlize }}">
          <h3>{{ .Title }}</h3>
          <figure>
            <img src="{{ .Params.desktopImage }}" alt="A preview of the {{ .Params.title }} website at desktop width">
            <img src="{{ .Params.mobileImage }}" alt="A preview of the {{ .Params.title }} website at mobile width">
          </figure>
          <ul>
            <li><a href="{{ .Params.siteLink }}">Visit the site</a></li>
            <li><a href="{{ .Params.gitLink }}">View on GitHub</a></li>
          </ul>
          <figure>
            <blockquote>
              <p>{{ .Params.testimonial }}</p>
            </blockquote>
            <figcaption>{{ .Params.testimonialAuthor }}</figcaption>
          </figure>
          {{ .Content }}
        </section>
      {{ end }}
    </section>

    <section id="let-s-talk">
      <h2>Let's Talk</h2>
      {{ (index $letstalk 00).Content }}
    </section>

  </main>

  <footer>
  </footer>

{{ end }}
