@mixin e-contact-form-field() {
  & {
    position: relative;

    input,
    textarea {
      background: $grey-300;
      border: 1px solid $grey-400;
      border-radius: $border-radius;
      box-sizing: border-box;
      caret-color: $grey-500;
      color: $grey-700;
      margin: floor(line-height(default) * 0.5) 0;
      padding: line-height(default) * 0.5;
      padding-left: line-height(default) * 1.75;
      transition: box-shadow 0.25s ease-in-out;
      width: 100%;

      &:focus {
        box-shadow: inset 0 -4px 0 $blue-500;
        outline: none !important;
      }

      &::placeholder {
        color: $grey-500;
        opacity: 1;
      }
    }

    // Icons
    &::before {
      content: '';
      height: 25px;
      left: line-height(default) * 0.5;
      position: absolute;
      top: #{line-height(default) + 2};
      width: 25px;
    }

    label {
      @include l-accessible-hidden();

      left: line-height(default) * 1.75;
      pointer-events: none;
      top: line-height(default);
    }
  }
}
