@mixin e-go-back-link() {
  a.go-back::after {
    @include back-icon($blue-200);

    content: '';
    height: 25px;
    margin-left: 10px;
    position: absolute;
    top: 3px;
    width: 25px;
  }
}
