@mixin e-primary-navbar-item() {
  .prim-nav-item {
    height: 100%;
    margin: 0 (line-height(default) * 0.25);
    padding: 0;
    position: relative;
    transition: transform 0.2s ease-in-out;
    white-space: nowrap;
    width: 100%;

    // Hover styles
    @media (hover: hover) {
      &:hover {
        transform: translateY(-4px);

        a {
          color: white;
        }
      }
    }

    // Margins for various screen sizes
    @media only screen and (min-width: 310px) {
      margin: 0 (line-height(default) * 0.5);

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }
    }

    @media only screen and (min-width: 550px) {

      // Selector list to ensure the above selector doesn't have higher specificity and code only
      // has to be written once
      &,
      &:first-child,
      &:last-child {
        margin: 0 (line-height(default) * 0.75);
      }
    }

    // Links
    a {
      align-items: center;
      color: white;
      display: inline-flex;
      font-weight: 400;
      height: 100%;
      text-decoration: none;
      transition: color 0.2s ease-in-out;

      // Focus styles
      &:focus {
        outline: none !important;
      }

      &:focus::after {
        @include outline($blue-700);

        content: '';
        height: line-height(default);
        left: 50%;
        padding: 2px;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
      }
    }

    // Active/hover indicator
    .highlight {
      height: 100%;
      left: calc(50% - 4px);
      max-width: 100px;
      pointer-events: none;
      position: absolute;
      top: 100%;
      top: calc(100% + 4px);
      transform: translateX(-50%);
      transition: transform 0.2s ease-in-out;
      width: 100%;
      width: calc(100% + 14px);

      &::after {
        content: '';
        border-radius: 50%;
        height: 5px;
        position: absolute;
        right: -4px;
        top: -1px;
        transform: translateX(50%) translateY(-50%);
        transition: background 0.2s ease-in-out;
        width: 5px;
      }

      @media only screen and (max-width: 310px) {
        width: 100%;
      }
    }

    // Align the highlight on active li
    &.active {
      .highlight {
        transform: translateX(-50%) translateY(-15px);
      }
    }

    // Align the highlight on hovered li
    @media (hover: hover) {
      &:hover {
        .highlight {
          transform: translateX(-50%) translateY(-20px);
        }
      }
    }
  }
}
