@mixin shadow-100($colour) {
  box-shadow: 0 1px 3px change-color($colour, $alpha: 0.12), 0 1px 2px change-color($colour, $alpha: 0.24);
}
@mixin shadow-300($colour) {
  box-shadow: 0 3px 6px change-color($colour, $alpha: 0.15), 0 2px 4px change-color($colour, $alpha: 0.12);
}
@mixin shadow-500($colour) {
  box-shadow: 0 10px 20px change-color($colour, $alpha: 0.15), 0 3px 6px change-color($colour, $alpha: 0.12);
}
@mixin shadow-700($colour) {
  box-shadow: 0 15px 25px change-color($colour, $alpha: 0.1), 0 5px 10px change-color($colour, $alpha: 0.2);
}
@mixin shadow-900($colour) {
  box-shadow: 0 20px 40px change-color($colour, $alpha: 0.2);
}
